body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.header img
{
    height: 35px;
    margin-left: 5em;
    margin-top: 1em;
}

.header nav ul
{
    list-style: none;

}

.header nav ul li
{
    display: inline-block;
    padding-left: .9em;
}

.header nav
{
    float: right;
    margin-top: 1em;
    margin-right: 5em;
}

.header a
{
    color:#000;
    font-size: 14px;
    text-decoration: none;
}

.header a:hover
{
    color: #ff5ea2;
    border-bottom:2px solid;
    border-image: linear-gradient(40deg, #fb5283, #ff3527 60%) 1;
    transition: border, color .2s ease-in-out;
}

.section-1
{
    display: inline-block;
    height:270px;
    margin-top: 7em;
    margin-left: 5em;
    border-left: 8px solid;
    border-image: linear-gradient(40deg, #fb5283, #ff3527 60%) 1;
}

.section-1 h1
{
    font-size:2.81em;
    width: 60%;
    margin-left: 20px;
    margin-top: -1px;
}

.section-1 h2
{
    color: #707070;
    font-size:1.87em;
    margin-top: -1em;
    margin-left: 20px;
    font-size: 25px;
    font-weight: normal;
}

.section-1 p
{
    font-size:15px;
    margin-top: 3em;
    color: #b7b7b7;
}

.section-1 span
{
    font-size:20px;
    color: black;
    font-size: 16px;
    display: block;
}

.section-1 a
{
    display: inline-block;
    color:white;
    text-decoration: none;
    font-weight: normal;
    width: 100px;
    height: 18px;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 1em;
    background-image: linear-gradient(to right, #fb5283, #ff3527);
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 0;
    transition: all .5s ease-in-out;
}

.section-1 a:hover
{
    width: 165px;
    text-align: left;
}

.section-1 img
{
    height: 10px;
    margin-top: 2px;
    position: absolute;
    margin-left: 80px;
    width: 30px;
}

.section-2
{
    width: 35%;
    height: 340px;
    float: right;
    margin-top: -19.5em;
    background-image: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 20px 0 0 20px;
}

.section-2 img
{
    width: 500px;
    height: 300px;
    position: fixed;
    margin-left: -230px;
    margin-top: 20px;
}
    
.img img
{
    margin-top: 8em;
    margin-left:18em;
    height:40px;
    width: 40px;
}

.section-2 a
{
    color: white;
    text-decoration: none;
    margin-left: 18em;
    position: fixed;
    font-size: 15px;
    margin-top: 175px;
}

footer img
{
    height: 15px;
    margin-top: 8em;
    padding-right: 15px;

}

footer
{
    margin-left: 35em;
}

@media screen and (max-width:400px)
{

    .header img
    {
        margin-left: 255px;
        height: 70px;
        width: 90px; 
       }

    .header nav ul
    {
     border: 1px solid red;
     width:553px;
     margin-right: -300px;
     background-image: linear-gradient(to right, #fb5283, #ff3527);
    }

    .header nav ul li
    {
        display: block;
        margin-left: -35px;
        padding:15px;
        text-align: center;
    }

    .header a
    {
        color: white;
    }

    .section-1
    {
        height:600px;
        margin-top: 20px;
        margin-left: 60px;

    }

    .section-1 h1
    {
        font-size: 76px;
    }

    .section-1 h2{
        font-size: 40px;
    }


    .section-1 p{
        font-size: 15px;

    }
   .section-1 span{
       font-size: 25px;
    }

   .section-1 a{
       height: 30px;
       padding-top: 10px;
       width: 150px;
       font-size: 20px;
    }

   .section-2
    {
       visibility: hidden;
    }

   .footer
    {
       margin: auto;
       margin-top: -50px;
       position: fixed;
       margin-left: 260px;
    }
}