body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.header img
{
    height: 50px;
    margin-left: 5em;
    margin-top: 2em;
}

.header nav ul
{
    list-style: none;

}

.header nav ul li
{
    display: inline-block;
    padding-left: 2em;
}

.header nav
{
    float: right;
    margin-top: 2em;
    margin-right: 5em;
}

.header a
{
    color:#000;
    font-size: 20px;
    text-decoration: none;
}

.header a:hover
{
    color: #ff5ea2;
    border-bottom:3px solid;
    border-image: linear-gradient(40deg, #fb5283, #ff3527 60%) 1;
    transition: border, color .1s ease-in-out;
}

.section-1
{
    display: inline-block;
    height:330px;
    margin-top: 12em;
    margin-left: 5em;
    border-left: 8px solid;
    border-image: linear-gradient(40deg, #fb5283, #ff3527 60%) 1;
}

.section-1 h1
{
    font-size:4em;
    width: 60%;
    margin-left: 20px;
    margin-top: -1px;
}

.section-1 h2
{
    color: #707070;
    font-size:1.87em;
    margin-top: -1.5em;
    margin-left: 20px;
    font-size: 36px;
    font-weight: normal;
}

.section-1 p
{
    font-size:15px;
    margin-top: 4em;
    color: #b7b7b7;
}

.section-1 span
{
    font-size:20px;
    color: black;
    font-size: 36px;
    display: block;
    font-weight: bold;
}

.section-1 a
{
    display: inline-block;
    color:white;
    text-decoration: none;
    font-weight: normal;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    background-image: linear-gradient(to right, #fb5283, #ff3527);
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 0;
    transition: all .5s ease-in-out;
}

.section-1 a:hover
{
    width: 225px;
    text-align: left;
}

.section-1 img
{
    height: 10px;
    margin-top: 8px;
    position: absolute;
    margin-left: 100px;
    width: 30px;
}

.section-2
{
    margin-left: 3em;
    width: 40%;
    height: 500px;
    float: right;
    margin-top: -27em;
    background-image: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 20px 0 0 20px;
}

.section-2 img
{
    width: 800px;
    height: 500px;
    position: fixed;
    margin-left: -350px;
    margin-top: 5px;
}
    
.img img
{
    margin-top: 12em;
    margin-left:30em;
    height:60px;
    width: 60px;
}

.section-2 a
{
    color: white;
    text-decoration: none;
    margin-left: 26em;
    position: fixed;
    font-size: 18px;
    margin-top: 260px;
}

footer img
{
    height: 25px;
    padding-right: 15px;
    

}

footer
{
    margin-left:600px;
    display:inline-block;
    height: 40px;
    margin-top: 170px;
    margin-left:50em;
    position: fixed;
}

@media screen and (max-width:400px)
{

    .header{
       height: 300px;
       width: 100%;
       position: relative;
    }

    .header img{
        position:absolute;
        max-width: 100%;
        margin-left: 9.4em;
        width: 20%;
    }

    .header nav{
        background-image: linear-gradient(to right, #fb5283, #ff3527);
        width: 100%;
        margin-right: 0;
        margin-top: 100px;

    }
    header nav ul{
        text-align: center;
    }

    .header nav ul li{
        display: block;
        padding: 10px;
        margin-left: -60px;
    }
    .section-1
    {
        height:400px;
        margin-top: 70px;
        margin-left: 30px;

    }

    .section-1 h1
    {
        font-size: 56px;
    }

    .section-1 h2{
        font-size: 25px;
    }


    .section-1 p{
        font-size: 15px;
        margin-top: 40px;

    }
   .section-1 span{
       font-size: 35px;
    }

   .section-1 a{
       padding-top:20px;
       height:40px;
       width: 200px;
       font-size: 20px;
       transition: 0;
       margin-top: -5px;
    }

    .img-3 img{
        visibility: hidden;
    }

    .section-1 a:hover{
        transition: 0;
        width: 180px;
        text-align: center;
    }

   .section-2
    {
       visibility: hidden;
    }

   .footer
    {
       margin: auto;
       margin-top: 80px;
       position: fixed;
       margin-left: 260px;
    }
}